.container {
  width: 60%;
  padding: 2rem 4rem;
  font-size: 24px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 1rem auto;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}
.sign {
  font-size: 30px;
}
.content {
  padding: 2rem;
}
hr {
  height: 2px;
  background-color: lightblue;
  border: none;
}
